// FONTS
$h_font: 'Josefin Sans', sans-serif;
$p_font: 'helvetica neue';

//FONTSIZE
$h1_size: 60px;
$h2_size: 50px;
$h3_size: 45px;
$h4_size: 28px;

$p_size: 18px;


//COLORS
$main_blue: rgb(53, 133, 218);
$second_blue: #337DCC;
$dark_blue: #204E80;
$gray_blue: #466280;
$light_blue: #8CC4FF;

$dark_gray: #333;
$gray: #555;
$light_gray: #999;


