/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

main, article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:
#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

a {
  text-decoration: none;
  font-family: "helvetica neue";
  font-size: 18px;
}

p {
  font-family: "helvetica neue";
  font-size: 18px;
  color: #222;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 60px;
  padding: 15px;
  color: #333;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  padding: 10px;
  color: #333;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 45px;
  padding: 10px;
  color: #333;
}

h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 28px;
  padding: 10px;
  color: #333;
}

button {
  padding: 6px 15px;
  background-color: #204E80;
  color: #fff;
  border-radius: 5px;
}

input {
  border: 0.5px solid #333;
  padding: 9px 3px;
}

.space {
  height: 50px;
}

.small_space {
  height: 30px;
}

.mini_space {
  height: 5px;
}

.underline {
  background-color: #999;
  height: 3px;
  width: 150px;
  margin: 0 auto;
}

.content-container {
  margin: 0 10px 0 10px;
}

.back {
  color: #fff;
  padding: 15px;
  background-color: #3585da;
  font-size: 20px;
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.back:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #204E80;
}

.flex-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 60px 0 60px 0;
  background-color: #3585da;
}

header .header_logo h2 {
  color: #f5f5f5f6;
}

main .basket_img {
  background: url(/img/dgBasket.png);
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main .choose_game {
  text-align: center;
  padding: 20px 0 10px 0;
}

main .put_or_die {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #466280;
  width: 90%;
  height: 120px;
  border-radius: 0 7px 7px 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

main .put_or_die:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #709DCC;
}

main .put_or_die h3 {
  color: #fff;
}

main .approach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #466280;
  width: 90%;
  height: 120px;
  border-radius: 0 7px 7px 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

main .approach:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #709DCC;
}

main .approach h3 {
  color: #fff;
}

main .drive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #466280;
  width: 90%;
  height: 120px;
  border-radius: 0 7px 7px 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

main .drive:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #709DCC;
}

main .drive h3 {
  color: #fff;
}

footer {
  background-color: #333;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  color: #fff;
  margin: 10px 0 10px 0;
}

footer a {
  color: #d8d6d6;
  margin: 0 0 10px 0;
}

.pod_header {
  text-align: center;
  background-color: #204E80;
}

.pod_header h4 {
  color: #fff;
}

.result_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  text-align: center;
}

.result_grid p {
  font-weight: 900;
}

.score_grid_1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.score_grid_1 p {
  font-size: 22px;
  font-weight: 900;
  color: #777228;
}

.score_grid_2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.score_grid_2 p {
  font-size: 22px;
  font-weight: 900;
  color: #777228;
}

.input_numbers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  text-align: center;
}

.undo {
  background-color: #337DCC;
  padding: 20px;
  width: 80%;
  margin: auto;
  border: 0.5px solid #333;
  border-radius: 5px;
}

.undo h4 {
  color: #fff;
  text-align: center;
}

.border {
  border: 0.5px solid #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.number_bg {
  background-color: #337DCC;
  padding: 20px;
}

.number_bg h3 {
  color: #fff;
}

.send_score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.send_score button {
  margin-left: 20px;
}

.send_score button p {
  color: #fff;
}

.hide {
  display: none;
}

.display_final_score {
  text-align: center;
  display: block;
  font-family: "Josefin Sans", sans-serif;
  font-size: 28px;
  color: #973636;
  text-transform: uppercase;
}

.result_grid_approach {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  text-align: center;
  font-size: 22px;
}

.result_grid_approach p {
  font-weight: 900;
  font-size: 22px;
}

.input_numbers_approach {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.input_numbers_approach p {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}

.choose_dist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.choose_dist .layout {
  background-color: #3585da;
  padding: 10px 0 10px 0;
  width: 300px;
  margin: 20px;
  border-radius: 8px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.choose_dist .layout:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #204E80;
}

.choose_dist .layout .layout-howto {
  background-color: #3585da;
  padding: 15px 5px 15px 5px;
  width: 150px;
  margin: 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.choose_dist .layout .layout-howto:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #204E80;
}

.choose_dist p {
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.hide-again {
  position: relative;
}

#print_score {
  text-align: center;
  display: block;
  font-family: "Josefin Sans", sans-serif;
  font-size: 28px;
  color: #973636;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */